* {
    background: #f3f5fc;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    /* line-height: 150%; */    /*no se si sea necesario*/
    /* overflow-y: hidden; */    /*este no me parece muy util aqui*/
  
  
    /* este activalo para ver un "truco" (se muestran todos los bordes de los elementos) */
    /* outline: 2px solid red; */
  }
  
  .logo {
    margin: auto;
  }
  #texto {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    color: #0a3871;
  }
  main {
    display: flex;
    margin-bottom: 10px;
    /* margin-left: 180px; */
  
  
    /* agregados */
    gap: 20px;    /*espacio entre los elementos dentro de flex (no depende de margin-left o similares)*/
    max-width: 900px;
    padding: 0 5%;    /*padding a los lados*/
    margin: 0 auto;     /*"truco" para centrar horozontalmente un elemento*/
  }
  
  .text-area {
    height: 400px;
    border: none;
    color: #0a3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
    background-color: white;
  
  
    /* agregados */
    width: 100%;
    max-width: 500px;
    resize: none;    /*quita el icono para modificar el tamaño de textarea*/
  }
  ::placeholder {
    color: #0a3871;
  }
  .text-area:focus {
    outline: none;
  }
  
  .mensaje {
    /* height: 630px; */
    background: white;
    background-image: url("imagenes/5064270\(3\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    /* margin-left: 98px; */
    margin-top: 20px;
    /* padding-left: 20px; */
    /* position: fixed; */
    max-width: 295px;
  
    /* agregados */
    height: 80%;
    width: 100%;
    resize: none;  /*lo mismo del textarea aqui, aunque lo puedes dejar como antes si quieres*/
  }
  
  .mensaje:focus {
    outline: none;
  }
  
  .botones {
    display: flex;
    margin-top: 18px;
  }
  
  .btn-desencriptar {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 40px;
    margin-left: 30px;
    width: 300px;
  }
  .btnoocr {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 40px;
    margin-left: 30px;
    width: 300px;
  }
  .btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 300px;
  }
  
  .copiar {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    /* margin-left: 120px; */
    /* margin-top: 565px; */
    /* position: absolute; */
    /* width: 300px; */
  
  
    /* agregado */
    width: 100%;
  }
  
  .informacion {
    color: #495057;
    font-size: 18px;
  
  
    /* agregado */
    margin: 0;  /*los elementos <h6> tienen mucho margin arriba y abajo, aunque no era necesario quitarlos*/
  }
  
  
  
  /* CODIGO NUEVO */
  /* te recomiendo darle clases (o id) a los elementos, sobretodo si son importatens como los section */
  /* .entrada es el seccion donde escribes / .salida es el section que tiene la imagen */
  .entrada {
    width: 70%;
  }
  .salida {
    width: 30%;
  }
  
  /* codigo para pantallas de tablet o menos */
  @media (max-width: 768px) {
    main {
      flex-direction: column;  /*cambia el layuot de horizontal a vertical (.entrada arriba / .salida abajo)*/
    }
    .entrada {
      width: 100%;
    }
    .salida {
      width: 100%;
    }
    .text-area {
      max-width: none; /*si no se lo quito no será posible ocupar todo el ancho (width: 100%)*/
    }
    .mensaje {
      max-width: none; /*lo mismo que el otro*/
    }
  }
